html
{
    height:100%;
}

body
{
    background-image:url(pics/wood.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    margin-top:100px;
    margin-left:200px;
    margin-right:120px;
}

h1
{
    text-shadow: 0 0 4px black;
    color:Lightskyblue;
    font-family:helvetica;
    font-size:60px;
    text-align:center;
    margin-right:50px;
    margin-bottom:100px;
}

.gallery a
{
    background-color:Lightgoldenrodyellow;
    float:left;
	margin-bottom:20px;
	padding: 5px 5px 10px;
	text-align: center;
	text-decoration:none;
    position:relative;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    
    -webkit-transform: rotate(-10deg);  
    -moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
    	
    -webkit-box-shadow: 0 2px 4px black);
    -moz-box-shadow: 0 4px 2px black;
     box-shadow: 0 2px 4px black;   
        

}
.gallery a:after 
{
    font-family:helvetica;
	color: black;
	font-size: 15px;
	content: attr(title);
	position: relative;
	top:5px;
	
}
.gallery img 
{ 
	display: block;
	max-height:200px;
    max-width:300px;
    
}
.gallery a:nth-child(2n)
{
    -webkit-transform: rotate(8deg);  
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
             
     
}
.gallery a:nth-child(odd)
{ 
    -webkit-transform: rotate(-20deg);  
    -moz-transform: rotate(-20deg); 
    transform: rotate(-20deg); 
    	

}
.gallery a:nth-child(4n)
{
    -webkit-transform: rotate(20deg);  
    -moz-transform: rotate(20deg); 
    transform: rotate(20deg); 
    
	
}

.gallery a:hover 
{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
        
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    transform: scale(2);
       
    -webkit-box-shadow: 0 10px 20px black;
    -moz-box-shadow: 0 10px 20px black;
    box-shadow: 0 10px 20px black;
        
    z-index:10;
}