@media print 
{
    
#container 
{
border:none;
}

#header
{
border:none;
}

video, #navigator, #logo img
{
display:none;
}

#content 
{
float:left;
}
a:after
{
content:" (" attr(href) ") ";
}
#title
{
display:none;
}

}