body
{
    max-width:100%;
    font-size: 1em;
} 

#container
{
    max-width:100%;
}

#content
{
    max-width:100%;
    margin-left:2%;
    margin-right:2%;

}
#footer
{
    max-width:100%;
}


#navigator 
{
    width: 100%;
    line-height: 54px;
    float: none;
    font-size: 18px;
}


#logo 
{
    display:none;
}

img
{
    
}

#Loremtext img
{
    width:50%;
}

#Loremtext
{
    float:none;
}

dd
{

}

#fieldset
{
    
    
}

#fieldset2
{
    

}

/*Form*/

#content fieldset
{
    margin-left:1px;
    border:0px solid ;
    width:320px;
}   


#InputText input
{
    width:320px;
    display:block;
    border: 1px solid ;
    height: 20px;
    font-size:25px;
}

#Submitbutton input
{
    float:right;
    width:120px;
    height:60px;
    font-size:20px;
    font-family:"Lucida Console", Monaco, monospace;
}

#InputText Select
{
    font-size:17px;
    margin-left:10px;
    
}
#content label
{
    font-size:17px;
}

#checkbox
{
    
}

#checkbox input
{
    width:30px;
    height:30px;
    
}

#InputText textarea
{
    width:320px;
    height:150px;
    max-width:320px;
    font-size:18px;
}

