body
{
    max-width:100%;
} 

#container
{
    max-width:100%;
}

#content
{
    max-width:100%;
    margin-left:2%;
    margin-right:2%;

}
#footer
{
    max-width:100%;
}


#navigator 
{
    width: 100%;
    line-height: 54px;
    float: none;
    font-size: 18px;
}


#logo 
{
    display:none;
}

img
{
    
}

#Loremtext img
{
    width:50%;
}

#Loremtext
{
    float:none;
}

dd
{

}

#fieldset
{
    position:none;
    float:none;
    
}

#fieldset2
{
    
    float:none;

}



